<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AI Testing Portfolio"
       verbose="1"
       parallel="tests"
       thread-count="3">

    <listeners>
        <listener class-name=
                          "com.shikhar.utils.ExtentReportListener"/>
    </listeners>

    <test name="Login Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.shikhar.tests.LoginTest"/>
        </classes>
    </test>

    <test name="E2E Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.shikhar.tests.E2ETest"/>
        </classes>
    </test>

    <test name="Data Driven Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name=
                           "com.shikhar.tests.DataDrivenTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.shikhar.tests.ApiTest"/>
        </classes>
    </test>

</suite>